In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error

In [2]:
df=pd.read_excel('cleaned.xlsx')

In [3]:
df

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type_Diesel,Seller_Type_Individual,Transmission_Manual
0,2014,3.35,1.720979,98.907149,0,0,1
1,2013,4.75,2.255493,116.919996,1,0,1
2,2017,7.25,2.287471,60.252218,0,0,1
3,2011,2.85,1.423108,54.300312,0,0,1
4,2014,4.60,1.927164,116.381220,1,0,1
...,...,...,...,...,...,...,...
291,2016,9.50,2.451005,107.449775,1,0,1
292,2015,4.00,1.774952,131.742217,0,0,1
293,2009,3.35,2.397895,151.021928,0,0,1
294,2017,11.50,2.525729,66.406442,1,0,1
295,2016,5.30,1.774952,55.300233,0,0,1

In [4]:
sc=StandardScaler()
df['Present_Price']=sc.fit_transform(df[['Present_Price']])
df['Kms_Driven']=sc.fit_transform(df[['Kms_Driven']])

In [5]:
X=df.drop(columns='Selling_Price')
y=df['Selling_Price']

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=94)

In [7]:
model=PCA(n_components=0.95)
X_train=model.fit_transform(X_train)
X_test=model.transform(X_test)

In [8]:
model.explained_variance_ratio_

array([0.79523121, 0.14016217, 0.04053705])

In [26]:
estimator=Lasso()
param_grid={'alpha':list(range(1,100))}
gd=GridSearchCV(estimator,param_grid,cv=5,scoring='r2')
gd.fit(X_train,y_train)
gd.best_params_

{'alpha': 1}

In [34]:
#modeling

model=Lasso(alpha=1)
model.fit(X_train,y_train)
train_r2=r2_score(y_train,model.predict(X_train))
cross=cross_val_score(model,X_train,y_train,cv=5,scoring='r2').mean()
print('Coefficients of the model:',model.coef_)
print('Intercept of the model:',model.intercept_)
print("Train_r2",train_r2)
print('Cross validation score is:',cross)

Coefficients of the model: [-0.23120316 -2.29603665 -0.        ]
Intercept of the model: 4.524703389830486
Train_r2 0.5348565160733416
Cross validation score is: 0.5515730000523877

In [36]:
train_rmse=mean_squared_error(y_train,model.predict(X_train))
print('train rmse :',round(train_rmse**0.5))

train rmse : 3

In [38]:
#Evaluation
y_test_pred=model.predict(X_test)
test_r2=r2_score(y_test,y_test_pred)
print('test_r2:',test_r2)

test_r2: 0.5038509005260399

In [16]:
test_rmse=mean_squared_error(y_test,y_test_pred)
print('test rmse :',round(test_rmse**0.5))

test rmse : 4